.App {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  background-color: #f8f8ff;
  box-sizing: border-box;
}

.h2 {
  font-size: 2rem;
  
}

.centered {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  background-color: #282c34;
}

.nav-bar-content{
  padding: 8px;
  display: inline-block;
  color: green;
  font-size: larger;
  text-decoration: none;
}

.nav-bar-content:hover {
  color: grey
}

.nav-bar-title {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;

}

.btns {
  display: inline-block;
  width: calc(50% - 4px);
  margin: 0 auto;
}

 .login {
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: #1a51c0;
  color: white;
  font-size: larger;
  cursor: pointer;
  transition: 0.2s;
}

.signup {
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: #12a84b;
  color: white;
  font-size: large;
  cursor: pointer;
  transition: 0.2s;
}

.inputs {
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  min-width: 300px;
  font-size: medium;
}

table {
  text-align: center;
}

span {
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

span:after {
  content: '\00bb';
  font-size: large;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.4s;
}

.login:hover span, .signup:hover span {
  padding-right: 15px;

}

.login:hover span:after, .signup:hover span:after {
  opacity: 1;
  right: 0;

}

.signup:hover {
  background-color: #0f9241;
  transition: 0.2s;
}

.login:hover {
  background-color: #13409b;
  transition: 0.2s;
}

li {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  text-align: left;
  margin-left: 20%;
}

ul {
  overflow: hidden;
  display: block;
  
}

.cardFace {
  border: 2px solid black;
  border-radius: 8px;
  padding: 5px;
  background-color: rgb(170, 169, 169);
  width: 75px;
  height: 143px;
  animation-duration: .4s;
  /* touch-action: manipulation; */
}

#playerHand {
  cursor: pointer;
}



.player1 {
  bottom: 68%;
  left: 2%;
  position: fixed;
  /* animation-duration: .4s; */
}
.player2 {
  bottom: 68%;
  left: 92%;
  position: fixed;
  /* animation-duration: .4s; */
}
.player3 {
  bottom: 3%;
  left: 92%;
  position: fixed;
  /* animation-duration: .4s; */
}
.player4 {
  bottom: 3%;
  left: 2%;
  position: fixed;
  /* animation-duration: .4s; */
}
#cardField {
  bottom: 45%;
  position: fixed;
  left: 50%;
}

.deck{
  width: 89px;
  height: 155px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

.winScreen {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
}

#turn:hover {
  cursor: pointer;
  filter: brightness(80%)
}

#notTurn {
  filter: brightness(50%);
}

.modal {
  position: static;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.25); */
}

.modal_content {
  background-color: #3e4450;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
  color: white;
}

.close {
  color: white;
  font-size: x-large;
  float: right;
  
}

.close:hover {
  color: grey;
  cursor: pointer;
}

.roomsTable {
  border-collapse: collapse;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 5px;
}

th {
  background-color: #3e4450;
  color: white;
  text-decoration: underline;
}

th, td {
  border: 2px solid black;
  padding: 8px;
  
}

tr:nth-child(even){background-color: #d8dde7;}

.joinable, .unjoinable {transition: .2s;}

.joinable:hover {
  background-color: #c4ebbc;
  cursor: pointer;
  transition: .2s;
}

.unjoinable:hover {
  background-color: #e0bebd;
  transition: .2s;
}

.empty {
  border: 1px solid black;
  font-style: italic;
  text-align: left;
  margin: auto;
  width: 50%;
  padding: 8px;
  color: gray;
  user-select: none;
  display: flex;
  flex: 1;
}


/* CHAT BOX CSS */

.chatbox {
  bottom: 1%;
  width: 40%;
  left: 30%;
  margin: 0 auto;
  position: absolute;
  border: solid 1px #000000;
  border-radius: 5px;
  overflow: hidden;
}

#chat-input {
  width: 85%;
  border: none;
  font-size: 16px;
  padding: 10px;
  border-top: solid 1px #000000;
  border-right: solid 1px #000000;
  float: left;
  height: 20px;
}

#chat-color {
  width: 5%;  
  border: none;
  margin-top: 1px;
  /* padding: 10px; */
  border: solid 1px #000000;
  padding: 0;
  height: 36px;
  /* display: none; */
}

.send-message-form button {
  display: none;
}

.chat-container {
  height: 250px;
  overflow: auto;
  direction: rtl;
  background-color: #282c34;
  color: white;
  
}

.message {
  padding-left: 15px;
  direction: ltr;
  text-align: left;
}

.avatar {
  float: left;
  margin-right: 5px;
  color: red;
}

.datetime {
  float: right;
  color: #999;
}
  
@keyframes drawCard1 {
  0%   {transform: rotate(90deg); left:calc(50% - 45px); bottom:calc(95% - 155px); filter: brightness(100%);}
  100%   {transform: rotate(0deg); filter: brightness(100%);}
}

@keyframes drawCard2 {
  0%   {transform: rotate(90deg); margin-left: 0; left:calc(50% - 45px); bottom:calc(95% - 155px); filter: brightness(100%);}
  100%   {transform: rotate(0deg); filter: brightness(100%);}
}

@keyframes drawCard3 {
  0%   {transform: rotate(90deg); margin-left: 0; left:calc(50% - 45px); bottom:calc(95% - 155px); filter: brightness(100%);}
  100%   {transform: rotate(0deg); filter: brightness(100%);}
}
