.App {
  text-align: center;
}

body {
  background-color: #f8f8ff;
  /* background-color: whitesmoke; */
}

.h2 {
  font-size: 2rem;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-bar{
  position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: .5rem 1rem;
background-color: #282c34;
}

.nav-bar-content{
  padding: 8px;
  display: inline-block;
  color: green;
  font-size: larger;
  text-decoration: none;
}

.nav-bar-content:hover {
  color: grey
}

.nav-bar-title {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;

}

.color-nav {
  background-color: #282c34;
}

li {
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}

ul {
  list-style-type: none;
  /* margin: 0; */
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  background-color: #333;
  display: inline;
}

.rightli {
  padding-left: 5px;
  padding-right: 5px;
  float: right;
}

.input{
  text-align: center;
}


.App #playerHand {
  bottom: 20%;
  left: 50%;
  /* margin: 0 auto; */
  position: fixed;
  animation-name: drawCard;
  animation-duration: .5;
}

.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.25); */
}

.modal_content {
  background-color: #3e4450;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
  color: white;
}

.close {
  color: white;
  font-size: x-large;
  float: right;
  
}

.close:hover {
  color: grey;
  cursor: pointer;
}



.nav-content {
  color: green;
}

.nav_content:hover {
  color: grey;
  /* cursor: pointer; */
}

@keyframes drawCard {
  0%   {left:50%; top:50%px;}
  100%   {background-color:red; left:50%; bottom: 20%;}
}