.App {
  text-align: center;
  /* background-color: grey; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-bar{
  display: flex;
  justify-content: center;
}

.nav-bar a{
  padding: 5px;
  display: inline-block;
}

li {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}

.active-users{
  background: #282c34;
  color: whitesmoke;
  padding: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  background-color: #333;
  display: inline;
}

.rightli {
  padding-left: 5px;
  padding-right: 5px;
  float: right;
}

.input{
  text-align: center;
}


.App #playerHand {
  bottom: 20%;
  left: 50%;
  margin: 0 auto;
  position: fixed;
  animation-name: drawCard;
  animation-duration: .5;
}

@keyframes drawCard {
  0%   {left:50%; top:50%px;}
  100%   {background-color:red; left:50%; bottom: 20%;}
}